{% extends "base.html" %}

{% block title %}bookmark_confirm_delete.html{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Bookmark Delete</h1>
            <br>

            <form action="." method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}" ?</p>
                <input type="submit" value="Confirm" class="btn btn-danger btn-sm" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

