{% extends 'base.html' %}
{% load static %}
{% block title %} Django Blog {% endblock %}
{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/post-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Tag Post List</h1>
            <span class="subheading">tag post list</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

                <h1>Posts for tag - {{ tagname }}</h1>
                <br>

                {% for post in object_list %}
                    <h2><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h2>
                    {{ post.modify_dt|date:"N d, Y" }}
                    <p>{{ post.description }}</p>
                {% endfor %}

        </div>
    </div>
</div>
{% endblock %}


{% block extra-script %}{% endblock %}
