{% extends 'base.html' %}
{% load static %}
{% block title %} Django Archive {% endblock %}
{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/post-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ object.title }}</h1>
              <h2 class="subheading">
                {{ object.description }}
              </h2>
            <span class="meta">Posted by
              <a href="#">Jinjae Lee</a>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col=lg-8 col-md-10 mx-auto">
                <p>{{ object.modify_dt|date:"j F Y" }}</p>
                <p>{{ object.content|linebreaks }}</p>
            </div>
            <br>
            <div>
                <b>TAGS</b> <i class="fas fa-tag"></i>
                {% load taggit_templatetags2_tags %}
                {% get_tags_for_object object as "tags" %}
                {% for tag in tags %}
                <a href="{% url 'blog:tagged_object_list' tag.name %}">{{tag.name}}</a>
                {% endfor %}
                &emsp;
                <a href="{% url 'blog:tag_cloud' %}"> <span class="btn btn-info btn-sm">TagCloud</span></a>
            </div>
        </div>
    </div>
</article>



{% endblock %}

{% block extra-script %}{% endblock %}




