{% extends 'base.html' %}
{% load static %}
{% block title %} Django Blog {% endblock %}
{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/post-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog List</h1>
            <span class="subheading">블로그 리스트 입니다</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block content %}
<h1>Blog List</h1>
<br>

{% for post in posts %}
    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    {{ post.modify_dt|date:"N d, Y" }}
    <p>{{ post.description }}</p>
{% endfor %}

<br>

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number }}">NextPage</a>
        {% endif %}
    </span>
</div>

{% endblock %}
{% block extra-script %}{% endblock %}



