{% extends 'base.html' %}
{% load static %}
{% block title %} Django Blog {% endblock %}
{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/post-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Post</h1>
            <span class="subheading">Post all</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Blog List</h1>
            <br>
            <a class="btn btn-primary float-right"
               href="{% url 'blog:change' %}">
                change
            </a>
                <a class="btn btn-primary float-right"
               href="{% url 'blog:add' %}">
                add
            </a>
            {% for post in posts %}
            <div class="post-preview">
                <a href="{{ post.get_absolute_url }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.description }}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">jinjae lee</a>
                    on {{post.modify_dt|date:"N d, Y"}}</p>
                <hr>
                <!-- Pager -->
                <div class="clearfix">

                </div>
            </div>

            {% endfor %}
            <span>
                {% if page_obj.has_next %}
                    <a class="btn btn-primary float-right"
                           href="?page={{ page_obj.next_page_number }}">
                            Next &rarr;
                    </a>
                {% endif %}

                {% if page_obj.has_previous %}
                    <a class="btn btn-primary float-right"
                       href="?page={{ page_obj.previous_page_number }}">
                        &larr;Previous
                    </a>
                {% endif %}

                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}


            </span>

        </div>
    </div>
</div>
<br>
{% endblock %}

{% block extra-script %}{% endblock %}



