{% extends 'base.html' %}
{% load static %}
{% block title %} jinjae Blog {% endblock %}
{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/main-pd.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Jerrys Blog</h1>
            <span class="subheading">ML study Blog</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block content %}{% endblock %}
{% block extra-script %}{% endblock %}

